.text-green {
    font-weight: bold;
    color: green;
}
.panel-green {
    border-color: #588B2E;
}
.panel-green > .panel-heading {
    color: #FFFFFF;
    background-color: #59B234;
    border-color: #588B2E;
}