.text-green {
    font-weight: bold;
    color: green;
}
.panel-green {
    border-color: #588B2E;
}
.panel-green > .panel-heading {
    color: #FFFFFF;
    background-color: #59B234;
    border-color: #588B2E;
}
.panel-red {
    border-color: #BB2C43;
}
.panel-red > .panel-heading {
    color: #FFFFFF;
    background-color: #DF4141;
    border-color: #BB2C43;
}